{% extends 'base.html' %}
 {% block body %}


        <div class="container">
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>ثبت نام کاربـر جدیـد</h2>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <a href="{% url 'register:login_page' %}"><p>قبلا ثبت نام کرده اید؟</p></a>

                        <button type="submit" class="btn btn-default">ثبت نام</button>
{#                        <input type="submit" value="ثبت نام" class="btn btn-default color" >#}
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>

 {% endblock %}
