{% extends 'base.html' %}
{% block body %}

<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="{{ object.image.url }}" alt="" width="330" height="300">
                        </div>

                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->

                            <!-- Controls -->
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <img src="/static/images/product-details/new.png" class="newarrival" alt="">
                            <div>
                                <h2>{{ object.title }}</h2>
                            </div>
                            <div>
									<span>
										<span>{{ object.title.price }} تومان </span>
									</span>




{#                                <form method="post">#}
{#                                    {% csrf_token %}#}
{#                                    <div class="row form-group">#}
{#                                        <div class="col-md-12">#}
{#                                            <label for="mintopay">تاریخ ورود</label>#}
{#                                            <p>#}
{#                                                <input type="date" name="checkin" id="checkin" class="form-control">#}
{#                                            </p>#}
{#                                        </div>#}
{#                                        <div class="col-md-12">#}
{#                                            <label for="maxtopay">تاریخ خروجی</label>#}
{#                                            <p>#}
{#                                                <input type="date" name="checkout" id="checkout" class="form-control">#}
{#                                            </p>#}
{#                                        </div>#}
{#                                    </div>#}

                                    <div class="row form-group">
                                        <form action="{% url 'home:reserved' object.id %}" method="post">
                                            {% csrf_token %}
                                            {% if object.Reservation is False %}
                                                <div class="col-md-12">
                                                    <input type="submit" class="btn btn-primary btn-block" value="رزرو">
                                                </div>
                                            {% else %}
                                                <h4>این اتاق رزرو شده است</h4>
                                            {% endif %}
                                        </form>
                                    </div>

{#                                </form>#}

                                <br>

                                <h4>{{ object.description }}</h4>
                                {% if object.title.is_bb %}
                                    <p>همراه با صبحانه</p>


                                {% endif %}
                                </span>
                            </div>


                        </div><!--/product-information-->


                    </div>
                </div><!--/product-details-->


            </div>


        </div>
    </div>
</section>
{% endblock %}
