{% extends 'base.html' %}
{% block body %}
	<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->

                    <h2 class="title text-center">اتاق ها</h2>

                    {% for rooms in object_list %}

                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">

                                    <div class="productinfo text-center">
                                        <img src="images/shop/product.jpg" alt="">
                                        <h2>{{ rooms.price }} تومان</h2>
                                        <p>{{ rooms.title }}</p>

                                        <a href="{% url 'home:detail_room' rooms.id %}" class="btn btn-default add-to-cart"><i
                                                class="fa fa-shopping-cart"></i>
                                            جزییات</a>

                                        {% if rooms.is_bb %}
                                            <p>همراه با صبحانه</p>

                                        {% endif %}


                                    </div>
                                </div>

                            </div>
                        </div>

                    {% endfor %}


                </div>


            </div><!--features_items-->
        </div>


    </div>
    </div>
</section>

{% endblock %}


